li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  padding: 20px;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.dev-item p {
  min-height: 74px;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 5px 10px;
}

li.dev-item a {
  color: #8e4dff;
  font-size: 14px;
  text-decoration: none;
}

li.dev-item a:hover {
  color: #5a2ea6;
}

.footer-item {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-item div {
  display: flex;
  flex-direction: row;
}

.footer-item a {
  background: #7d40ef;
  border: 0;
  padding: 15px;
  margin-left: 10px;
  border-radius: 4px;

  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-item a:hover {
  background: #6931ca;
}

.footer-item button {
  background: #7d40ef;
  border: 0;
  padding: 0 15px;
  margin-left: 10px;
  border-radius: 4px;

  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-item button:hover {
  background: #6931ca;
}

.btn-remove {
  background: #f7002e !important;
}

.btn-remove:hover {
  background: #e2022b !important;
}
